{
  "parser": "babel-eslint",

  "extends": ["strict-react/es6"],

  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "plugins": [
    "react",
    "mocha"
  ],

  "env": {
    "browser": true
  },

  "rules": {
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "no-unused-vars": ["error", { "varsIgnorePattern": "RewireAPI" }],
    "indent": [2, 2, {"SwitchCase": 1}],
    "semi": [2, "never"],
    "no-var": 2,
    "react/prefer-stateless-function":0,
    "no-debugger": 2,
    "mocha/no-exclusive-tests": "error",
    "mocha/handle-done-callback": "error",
  }
}
